<launch>
    <!-- 
    ==========================================================
    机器人清洁挑战赛 - 一键启动总控文件
    功能：启动餐厅赛项所有核心节点
    ==========================================================
    -->

    <!-- 1. 启动主任务逻辑  -->
    <node pkg="clean_robot" type="task_sequence.py" name="task_sequence_node" output="screen" />

    <!-- 2. 启动异常处理节点 -->
    <node pkg="clean_robot" type="error_handle.py" name="error_handle_node" output="screen" />

    <!-- 3. 启动机械臂控制节点  -->
    <node pkg="clean_robot" type="arm_joint_publisher.py" name="arm_joint_publisher_node" output="screen" />
    <node pkg="clean_robot" type="arm_state_subscriber.py" name="arm_state_subscriber_node" output="screen" />

    <!-- 4. 启动爪部控制节点 (Server/Client) -->
    <node pkg="clean_robot" type="gripper_server.py" name="gripper_server_node" output="screen" />
    <node pkg="clean_robot" type="gripper_client.py" name="gripper_client_node" output="screen" />

    <!-- 5. 其他节点  -->
    <node pkg="clean_robot" type="restaurant_arm_pour.py" name="restaurant_arm_pour_node" output="screen" />
    <node pkg="clean_robot" type="arm_control.py" name="arm_control_node" output="screen" />
    <node pkg="clean_robot" type="gripper_control.py" name="gripper_control_node" output="screen" />

</launch>
